[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh
[submodule "vim/pack/python/start/jedi-vim"]
	path = vim/pack/python/start/jedi-vim
	url = https://github.com/davidhalter/jedi-vim
[submodule "vim/pack/syntax/start/vim-surround"]
	path = vim/pack/syntax/start/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "vim/pack/utility/start/nerdtree"]
	path = vim/pack/utility/start/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule "vim/pack/utility/start/vimtex"]
	path = vim/pack/utility/start/vimtex
	url = https://github.com/lervag/vimtex
